<!-- banner -->
<!-- snow animation -->
<div id="snow">
</div>
<!-- //snow animation -->
<!-- //header -->
<div class="banner-bg-agileits">
    <!-- banner-text -->
    <div class="banner-text">
        <h2>merry christmas</h2>
        <div class="banner-sub-txt">
            <span class="banner-line"></span>
            <span class="fa fa-snowflake-o" aria-hidden="true"></span>
            <span class="banner-line"></span>
        </div>
        <h3>happy new year</h3>
    </div>
</div>
<!-- //banner -->
<!-- about -->
<div class="w3_agile-section about-main" id="about">
    <div class="container">
        <div class="about-grid-main">
            <div class="col-md-8 col-sm-8 about-text">
                <h3 class="main-title">Idées cadeaux</h3>
                <div class="about-right">
                    <div class="col-md-4 about-grid1">
                        <img src="~/images/a2.png" alt="" class="img-responsive" />
                        <h4>Cloche de noël</h4>
                        <p>proposé par Mike</p>
                    </div>
                    <div class="col-md-4  about-grid1">
                        <img src="~/images/a3.png" alt="" class="img-responsive" />
                        <h4>Sac rouge</h4>
                        <p>proposé par Elisa</p>

                    </div>
                    <div class="col-md-4 about-grid1">
                        <img src="~/images/a4.png" alt="" class="img-responsive" />
                        <h4>Set de bougies</h4>
                        <p>proposé par Olivia</p>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 about-grid">
                <img src="~/images/a1.png" alt="" class="img-responsive" />
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>
<!-- //about -->
<!-- events -->
<div class="w3_agile-section slide-main">
    <div class="container">
        <h3 class="title-wthree slide-bg-title">
            <span>N</span>ous vous attendons ce
            <span>24</span>  décembre pour
        </h3>
        <h4 class="title">Une fête de Noël Givrée</h4>
        <p>Créons des souvenirs ensemble</p>
        <div class="slide-grid-main">
        </div>
    </div>
</div>
<!-- //events -->
<!-- events pricing-->
<div class="w3_agile-section price-main text-center" id="prices">
    <div class="container">
        <h3 class="title-wthree">Les invités</h3>
        <img src="~/images/r.png" alt="" />
        <div class="about-head  w3ls-team-info">
            <div class="col-md-4 col-sm-4 col-xs-6 agileits_w3layouts-price-grid1  text-center">
                <ul class="price-plan">
                    <li class="price-type">Mike</li>
                </ul>
                <img src="~/photos/Mike.jpg" alt="" class="img-responsive" />
                <div class="reg-button price1-btn bounce animated">
                    <a href="#" data-toggle="modal" data-target="#myModal1">Ma liste</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 agileits_w3layouts-price-grid1  text-center">
                <ul class="price-plan">
                    <li class="price-type">Elisa</li>
                </ul>
                <img src="~/photos/Elisa.jpg" alt="" class="img-responsive" />
                <div class="reg-button price1-btn bounce animated">
                    <a href="#" data-toggle="modal" data-target="#myModal1">Ma liste</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 agileits_w3layouts-price-grid1  text-center">
                <ul class="price-plan">
                    <li class="price-type">Olivia</li>
                </ul>
                <img src="~/photos/Olivia.jpg" alt="" class="img-responsive" />
                <div class="reg-button price1-btn bounce animated">
                    <a href="#" data-toggle="modal" data-target="#myModal1">Ma liste</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //events pricing -->
<!-- event schedule -->
<div data-vide-bg="/video/xmas">
    <div class="center-container w3_agile-section">
        <div class="event-time " id="event">
            <div class="container">
                <h3 class="title-wthree text-center">A qui allez-vous offrir un cadeau ?</h3>

                <div class="testi-info">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation">
                            <a href="~/Account/Register" role="tab" data-toggle="tab">Enregistrez-vous</a>
                        </li>
                        <li role="presentation">
                            <a href="~/Acount/Login" role="tab" data-toggle="tab">Connectez-vous</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="testi">
                            <div class="eventmain-info">
                                <div class="btn-Tirage">

                                    <a href="index.html">
                                        <h4 class="title">Lancer le tirage au sort</h4>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
<!-- //event schedule -->
<!-- party organisers -->
<div class="w3_agile-section team text-center" id="team">
    <div class="container">
        <h3 class="title-wthree">Les organisateurs</h3>
        <img src="~/images/r.png" alt="" />
        <div class=" w3ls-team-info">
            <div class="col-md-3 col-sm-6  col-xs-6 agileinfo-team-grids">
                <img class="img-responsive" src="~/images/t3.jpg" alt="">
                <div class="team-caption">
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a href="#" class="fa fa-facebook icon-border facebook"> </a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-twitter icon-border twitter"> </a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-google-plus icon-border googleplus"> </a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-rss icon-border rss"> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h4>Justine</h4>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 agileinfo-team-grids">
                <img class="img-responsive" src="~/images/t2.png" alt="">
                <div class="team-caption">
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a href="#" class="fa fa-facebook icon-border facebook"> </a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-twitter icon-border twitter"> </a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-google-plus icon-border googleplus"> </a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-rss icon-border rss"> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h4>Eddy</h4>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 agileinfo-team-grids">
                <img class="img-responsive" src="~/images/t1.jpg" alt="">
                <div class="team-caption">
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a href="#" class="fa fa-facebook icon-border facebook"> </a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-twitter icon-border twitter"> </a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-google-plus icon-border googleplus"> </a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-rss icon-border rss"> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h4>Sylvie</h4>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 agileinfo-team-grids">
                <img class="img-responsive" src="~/images/t5.png" alt="">
                <div class="team-caption">
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a href="#" class="fa fa-facebook icon-border facebook"> </a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-twitter icon-border twitter"> </a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-google-plus icon-border googleplus"> </a>
                            </li>
                            <li>
                                <a href="#" class="fa fa-rss icon-border rss"> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <h4>Irena</h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //party organisers -->
<!-- Book tickets -->
<div class="event-tikt text-center">
    <div class="event-reg-bg w3_agile-section">
        <h4 class="apt-t">Nous approchons du grand jour</h4>
        <div class="demo2"></div>
    </div>
</div>
<!-- //Book tickets -->

@section scripts
{
    

    <!-- //gallery -->
    @Scripts.Render("~/Scripts/Gallery")
    <!-- //gallery -->
    <!-- Counter required files -->
    @Scripts.Render("~/Scripts/Counter")
    <!-- //Counter required files -->
}